.profile {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.title {
  @apply text-2xl my-1 mb-6;
}

.productContent {
  @apply px-4;
}

.productImage {
  width: 100%;
  @apply pr-6;
}

.productImage img {
  object-fit: cover;
  max-width: 100%;
  max-height: 600px;
}

.productActions {
  @apply p-4 rounded-md mb-4 md:mb-0;
  border: 1px solid #ddd;
}

.productPrice {
  @apply text-2xl font-bold mb-3;
}

.productDescription {
  @apply text-xl mb-8 text-black;
}

.productTitle {
  @apply text-4xl m-0 mb-6;
}

.productBrand {
  @apply text-base m-0 text-green;
}

.skeletonImage {
  height: 200px;
}

.productPriceSkeleton {
  width: 100px;
}

.productBrandSkeleton {
  width: 50px;
}

.productTitleSkeleton {
  width: 150px;
}

.addToCartButton {
  padding: 10px;
  height: 100%;
  cursor: pointer;
}
